html,
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    text-align: center;
}

.header,
.footer {
    width: 100%;
    padding-left: 0;
    justify-self: center;
    background: whitesmoke;
    font-style: italic;
    padding: 0.5rem 0;
}

.counter {
    background: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 2.5rem;
    grid-row-gap: 0.3rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.countdown h2 {
    font-size: 1.7rem;
    font-family: "Arial", sans-serif;
    color: blue;
    border-radius: 5px;
    animation: pulse 2s infinite;
}

.message {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0.3rem;
    margin: 0 10%;
}

.message h1 {
    color: red;
    font-size: 2.5rem;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.message p {
    color: black;
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-size: 1.3rem;
}

@media (min-width:769px) and (orientation: landscape) {
    .countdown {
        grid-template-columns: 1fr;
    }

    .countdown h2 {
        font-size: 1.3rem;
    }
}